body, head {
	font-family: 'Andada';font-size: 22px;
}

body {
	margin-left: 10%;
	margin-right: 10%;
}

.header-menu-item {
	width: 100px;
	float: left;
	font-size: 18px;
}

#header-menu {
	float: right;
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#title {
	font-size: 50px;
    width: 100%;
    margin-top: 150px;
}

#title-description {
	font-size: 20px;
	margin-bottom: 20px;
}